In [ ]:
l1 =  ["Arbaaz",22,True,7.0]
l1[1]

In [8]:
dir(l1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [14]:
len(l1)

4

In [15]:
l1.__class__

list

In [18]:
l1[1] = 100
print(l1)

['Arbaaz', 100, True, 7.0]

In [19]:
l1

['Arbaaz', 100, True, 7.0]

In [21]:
l1[-1] = 1000
l1

['Arbaaz', 100, True, 1000]

In [35]:
l1[4]

IndexError: list index out of range

In [41]:
i = 0 
while i < len(l1) :
    print(l1[i])
    i += 1

Arbaaz
100
True
1000

In [40]:
i = 0 
while i <len(l1) :
    print(l1[i]) 
    i += 1

Arbaaz
100
True
1000

In [42]:
for e in l1:
    print(e)

Arbaaz
100
True
1000

In [43]:
l2 = [1,3,6,7,3,8,0,3,45,98,65,34,765,323,656,8]
l2

[1, 3, 6, 7, 3, 8, 0, 3, 45, 98, 65, 34, 765, 323, 656, 8]

sorted(l2)

In [45]:
l2

[1, 3, 6, 7, 3, 8, 0, 3, 45, 98, 65, 34, 765, 323, 656, 8]

In [47]:
l2.sort()

In [48]:
l2

[0, 1, 3, 3, 3, 6, 7, 8, 8, 34, 45, 65, 98, 323, 656, 765]

In [49]:
l2.sort(reverse=True)

In [50]:
l2

[765, 656, 323, 98, 65, 45, 34, 8, 8, 7, 6, 3, 3, 3, 1, 0]

In [51]:
range(start , end ,step) #Genrator Function
start = include
end = exclude
step = sequence

NameError: name 'start' is not defined

In [53]:
range(11)

range(0, 11)

In [54]:
range(1,11)

range(1, 11)

In [56]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [58]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [59]:
list(range(0,101,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [60]:
list(range(25,251,25))

[25, 50, 75, 100, 125, 150, 175, 200, 225, 250]

In [63]:
chr(65)

'A'

In [65]:
chr(98)

'b'

In [66]:
l1 = list(range(65,91))
l1

[65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90]

In [67]:
for e in l1:
    print(chr(e))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [68]:
tuple(map(chr, l1))

('A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z')

In [69]:
list(map(chr, l1))

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [71]:
l3 = ["Arbaaz", "Afaq", "Khan"]
list(map(len,l3))

[6, 4, 4]

In [74]:
list(map(float, l1))

[65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0]

# chr(0)

In [ ]:
# Slicing
#obj ["start", "end", "step"]
# start = include
#end = exclude
#step "sequnce"

In [76]:
l1 = list(range(1,11))
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [79]:
l1[0:5]

[1, 2, 3, 4, 5]

In [81]:
l1 = list(map(chr, list(range(65,91))))
print(*l1,sep=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [84]:
l1[0:26]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [86]:
l1[1:1]

[]

In [87]:
l1[::-1]

['Z',
 'Y',
 'X',
 'W',
 'V',
 'U',
 'T',
 'S',
 'R',
 'Q',
 'P',
 'O',
 'N',
 'M',
 'L',
 'K',
 'J',
 'I',
 'H',
 'G',
 'F',
 'E',
 'D',
 'C',
 'B',
 'A']

In [88]:
l1[::-26]

['Z']

In [89]:
l1[::2]

['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'S', 'U', 'W', 'Y']

In [90]:
l1[5:]

['F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [95]:
2+2-(45*3)-0+(564+67)-67+866*567

491455